
  
    
 

<fieldset>
 
        @*@using (Html.BeginForm("AddImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@


            <div id="myinput" class="myinput">
                <input type="file" name="uploadFile[0]" required /><br />
            </div>
            <br />
            <input type="submit" value="Upload" />

        @*}*@
    </fieldset>
