
@{
    ViewBag.Title = "Imm";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>Imm</h2>
<link rel="stylesheet" href="~/css/dropdown.css">

<div class="sec-center">
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown" />
    <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown">
        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>

        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
    </div>
</div>